
<div class="test">
        <a [routerLink]="item.routerURLs" [routerLinkActive]="item.activeStyles" class="list-group-item" *ngIf="!isExpandable">
                <i [ngClass]="item.iconStyle"></i>&nbsp;{{ item.name | translate }}
            </a>
    <div>

<div class="nested-menu" *ngIf="isExpandable">
    <a class="list-group-item" (click)="addExpandClass()">
        <span><i [ngClass]="item.iconStyle"></i>&nbsp; {{ item.name | translate }}</span>
    </a>
    <li class="nested" [class.expand]="isExpanded">
        <ul class="submenu">
            <li *ngFor="let subItem of item.childrenSidebarItem">
                <a href="javascript:void(0)"><span>{{ subItem.name  | translate }}</span></a>
            </li>
        </ul>
    </li>
</div>